In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
market_data='/Users/maheshdivakarannair/Documents/GitHub/project-outbreak/data_sets/marketdata/markets.csv'

In [3]:
market_data_df = pd.read_csv(market_data)

In [4]:
market_data_df.head()

,ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,DJI,1/29/85,1277.719971,1295.489990,1266.890015,1292.619995,1292.619995,13560000.0
1,DJI,1/30/85,1297.369995,1305.099976,1278.930054,1287.880005,1287.880005,16820000.0
2,DJI,1/31/85,1283.239990,1293.400024,1272.640015,1286.770020,1286.770020,14070000.0
3,DJI,2/1/85,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000.0
4,DJI,2/4/85,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000.0

In [5]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/marketing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
market_data_df.to_sql(name='index_table', con=engine, if_exists='replace', index=False)

In [ ]:
pd.read_sql_query('select * from index_table', con=engine).head()