In [26]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

# Ebola

In [2]:
epidemic_ebola='/Users/maheshdivakarannair/Documents/GitHub/project-outbreak/data_sets/epidemic/ebola.csv'

In [3]:
epidemic_ebola_df = pd.read_csv(epidemic_ebola)

In [4]:
epidemic_ebola_df.head()

,Country,Date,No. of suspected cases,No. of probable cases,No. of confirmed cases,"No. of confirmed, probable and suspected cases",No. of suspected deaths,No. of probable deaths,No. of confirmed deaths,"No. of confirmed, probable and suspected deaths"
0,Guinea,2014-08-29,25.0,141.0,482.0,648.0,2.0,141.0,287.0,430.0
1,Nigeria,2014-08-29,3.0,1.0,15.0,19.0,0.0,1.0,6.0,7.0
2,Sierra Leone,2014-08-29,54.0,37.0,935.0,1026.0,8.0,34.0,380.0,422.0
3,Liberia,2014-08-29,382.0,674.0,322.0,1378.0,168.0,301.0,225.0,694.0
4,Sierra Leone,2014-09-05,78.0,37.0,1146.0,1261.0,11.0,37.0,443.0,491.0

In [5]:
epidemic_ebola_df_2 = epidemic_ebola_df[['Date','Country', 'No. of confirmed cases', 'No. of confirmed deaths']]
epidemic_ebola_df_2 = epidemic_ebola_df_2.rename(columns = {'No. of confirmed cases':'Confirmed_cases', 'No. of confirmed deaths':'Confirmed_Death'})

epidemic_ebola_df_2.head()

         Date       Country  Confirmed_cases  Confirmed_Death
0  2014-08-29        Guinea            482.0            287.0
1  2014-08-29       Nigeria             15.0              6.0
2  2014-08-29  Sierra Leone            935.0            380.0
3  2014-08-29       Liberia            322.0            225.0
4  2014-09-05  Sierra Leone           1146.0            443.0

In [6]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/marketing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [7]:
epidemic_ebola_df_2.to_sql(name='ebola_epidemic', con=engine, if_exists='replace', index=False)

In [8]:
pd.read_sql_query('select * from ebola_epidemic', con=engine).head()

         Date       Country  Confirmed_cases  Confirmed_Death
0  2014-08-29        Guinea            482.0            287.0
1  2014-08-29       Nigeria             15.0              6.0
2  2014-08-29  Sierra Leone            935.0            380.0
3  2014-08-29       Liberia            322.0            225.0
4  2014-09-05  Sierra Leone           1146.0            443.0

# Corona

In [83]:
epidemic_corona='/Users/maheshdivakarannair/Documents/GitHub/project-outbreak/data_sets/epidemic/covid_19.csv'

In [84]:
epidemic_corona_df = pd.read_csv(epidemic_corona)

In [85]:
epidemic_corona_df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,31.8257,117.2264,1/22/20,1,0,0
1,Beijing,Mainland China,40.1824,116.4142,1/22/20,14,0,0
2,Chongqing,Mainland China,30.0572,107.8740,1/22/20,6,0,0
3,Fujian,Mainland China,26.0789,117.9874,1/22/20,1,0,0
4,Gansu,Mainland China,36.0611,103.8343,1/22/20,0,0,0

In [86]:
# Selecting necessary columns and renaming them. Droping others
epidemic_corona_df_2 = epidemic_corona_df[['Date','Country/Region', 'Confirmed', 'Deaths']]
to_drop = ['Others']
epidemic_corona_df_2 = epidemic_corona_df_2[~epidemic_corona_df_2['Country/Region'].isin(to_drop)]
epidemic_corona_df_2 = epidemic_corona_df_2.rename(columns = {'Country/Region':'Country','Confirmed':'Confirmed_cases','Deaths':'Confirmed_Death'}) 
len(epidemic_corona_df_2)

10304

In [87]:
# Renaming countries 
epidemic_corona_df_2["Country"].replace({"Mainland China": "China", "US": "United States of America", "UK": "United Kingdom"}, inplace=True)
to_drop = ['Others']
epidemic_corona_df_2[~epidemic_corona_df_2['Country'].isin(to_drop)]
epidemic_corona_df_2.head()

      Date Country  Confirmed_cases  Confirmed_Death
0  1/22/20   China                1                0
1  1/22/20   China               14                0
2  1/22/20   China                6                0
3  1/22/20   China                1                0
4  1/22/20   China                0                0

In [88]:
epidemic_corona_df_2["Date"] = epidemic_corona_df["Date"].apply(lambda x:datetime.strptime(x,'%m/%d/%y'))

In [89]:
epidemic_corona_df_2["Date"] = epidemic_corona_df["Date"].apply(lambda x: x.strftime('%Y/%m/%d'))

AttributeError: 'str' object has no attribute 'strftime'

In [90]:
epidemic_corona_df_2["Date"]

0       2020-01-22
1       2020-01-22
2       2020-01-22
3       2020-01-22
4       2020-01-22
           ...
10345   2020-03-07
10346   2020-03-07
10347   2020-03-07
10348   2020-03-07
10349   2020-03-07
Name: Date, Length: 10304, dtype: datetime64[ns]

In [91]:
epidemic_corona_df_2.head()

        Date Country  Confirmed_cases  Confirmed_Death
0 2020-01-22   China                1                0
1 2020-01-22   China               14                0
2 2020-01-22   China                6                0
3 2020-01-22   China                1                0
4 2020-01-22   China                0                0

In [92]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/marketing_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [93]:
epidemic_corona_df_2.to_sql(name='corona_epidemic', con=engine, if_exists='replace', index=False)

In [94]:
pd.read_sql_query('select * from corona_epidemic', con=engine).head()

        Date Country  Confirmed_cases  Confirmed_Death
0 2020-01-22   China                1                0
1 2020-01-22   China               14                0
2 2020-01-22   China                6                0
3 2020-01-22   China                1                0
4 2020-01-22   China                0                0