In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
epidemic_zika='/Users/maheshdivakarannair/Desktop/Project Outbreak/cdc_zika.csv'

In [4]:
epidemic_zika_df = pd.read_csv(epidemic_zika)

In [6]:
epidemic_zika_df.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,11/28/15,El_Salvador-Ahuachapan,department,cumulative_suspected_total,SV0010,NaN,NaN,4,cases
1,11/28/15,El_Salvador-Cabanas,department,cumulative_suspected_total,SV0010,NaN,NaN,3,cases
2,11/28/15,El_Salvador-Chalatenango,department,cumulative_suspected_total,SV0010,NaN,NaN,8,cases
3,11/28/15,El_Salvador-Cuscatlan,department,cumulative_suspected_total,SV0010,NaN,NaN,4,cases
4,11/28/15,El_Salvador-La_Libertad,department,cumulative_suspected_total,SV0010,NaN,NaN,61,cases

In [7]:
final_epidemic_zika_df=epidemic_zika_df[[
    'report_date','location','location_type','data_field','data_field_code','value'
]].copy()

In [8]:
final_epidemic_zika_df.head()

,report_date,location,location_type,data_field,data_field_code,value
0,11/28/15,El_Salvador-Ahuachapan,department,cumulative_suspected_total,SV0010,4
1,11/28/15,El_Salvador-Cabanas,department,cumulative_suspected_total,SV0010,3
2,11/28/15,El_Salvador-Chalatenango,department,cumulative_suspected_total,SV0010,8
3,11/28/15,El_Salvador-Cuscatlan,department,cumulative_suspected_total,SV0010,4
4,11/28/15,El_Salvador-La_Libertad,department,cumulative_suspected_total,SV0010,61

In [10]:
final_epidemic_zika_df.dtypes

report_date        object
location           object
location_type      object
data_field         object
data_field_code    object
value              object
dtype: object

In [19]:
rds_connection_string = "mahesh1:mahesh@localhost:5432/epidemic_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
final_epidemic_zika_df.to_sql(name='zika_epidemic', con=engine, if_exists='append', index=False)

In [23]:
pd.read_sql_query('select * from zika_epidemic', con=engine).head()

,report_date,location,location_type,data_field,data_field_code,value
0,11/28/15,El_Salvador-Ahuachapan,department,cumulative_suspected_total,SV0010,4
1,11/28/15,El_Salvador-Cabanas,department,cumulative_suspected_total,SV0010,3
2,11/28/15,El_Salvador-Chalatenango,department,cumulative_suspected_total,SV0010,8
3,11/28/15,El_Salvador-Cuscatlan,department,cumulative_suspected_total,SV0010,4
4,11/28/15,El_Salvador-La_Libertad,department,cumulative_suspected_total,SV0010,61